@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, #0dc9bd,#02cf4a);
    background: linear-gradient(90deg, #0dc9bd,#02cf4a);
    justify-content: center;
    align-items: center;
}